* {
    margin: 0;
    padding: 0;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

body, html {
    overflow:hidden;
    height:100%;
    width:100%;
    margin:0;
    padding:0;
}

canvas{
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    outline: none;
    /*-webkit-tap-highlight-color: rgba(255, 255, 255, 0); /* mobile webkit */
    -webkit-tap-highlight-color: transparent;
    position:absolute;
    width:100%;
    height:100%;
    overflow:hidden;
    margin:0;
    padding:0;
}

body {
    overflow:hidden;
}

#stageContainer {
    width: 100%;
    height: 100%;
    overflow: auto;
    padding-bottom: 50px;
}

.task__header {
    background: #97c25a;
    max-height: 20%;
    overflow-y: auto;
    overflow-x: hidden;

    box-sizing: border-box;
    padding: 15px 35px;

    font: 700 26px Arial;
    color: #fff;
}

.task__text {
    width: 100%;
    max-height: 30%;
    overflow-y: auto;
    overflow-x: hidden;

    box-sizing: border-box;
    padding: 15px 35px;

    border: 2px solid #97c25a;

    font: 21px Arial;
    color: #000;

}

.task__area {
    box-sizing: border-box;
    overflow-y: auto;
    overflow-x: hidden;
}



/**/

.WP__text {
    padding: 35px;
    font: 24px Arial;
}

.WP__drop {
    display: inline-block;
    text-align: center;

    transition: width ease .3s;

    position: relative;
}

.WP__drop.WP__drop_waiting {
    padding: 0 20px;
}
.WP__drop.WP__drop_letter.WP__drop_waiting {
    padding: 0;
}

.WP__drop.hover {
    /*background: rgba(0,0,0,.1);*/
}

.WP__drop.hover:after {
    display: block;
    width: 100%;
    height: 250%;
    position: absolute;
    left: 0;
    top: -50%;
    background: rgba(0,0,0,.1);
    border-radius: 50%;

    z-index: 0;
    content: '';

}

.WP__words {
    padding: 35px;
    border: 1px solid #aacd78;
}

.WP__drag {
    display: inline-block;
    margin: 4px;
    padding: 7px 10px;
    background: #97c25a;
    border-radius: 4px;

    font: 21px Arial;
    color: #fff;

    cursor: pointer;
    min-width: 11px;
    min-height: 24px;
    vertical-align: top;
}

.WP__drag.disabled {
    background: #ebebeb;
}

.WP__drop .WP__drag {
    padding: 0;
    margin: 0;
    background: #fff;

    font: 24px Arial;
    color: #000;

    cursor: pointer;
}

.WP__drop .WP__drag {
    background: #ebebeb;
    border-radius: 4px;
    padding: 0;
    min-width: 0;
    min-height: 0;
}

.WP__drop.error,
.WP__drop.error .WP__drag {
    color: red;
}

.WP__drop.correct_int,
.WP__drop.correct_int .WP__drag {
    color: #97c25a;
}

.WP__drop {
    text-indent: 0;
}