html, body {
    height: auto;
}
* {
    -ms-touch-action: none;
}

/*Если нужны ячейки одинаковой ширины*/
/*
table {
  table-layout: fixed;
  width: 70%;
}
td, th {width: 33%;}
*/

td {
    padding: 0 !important;
    min-width: 5em;
}
th {
    min-width: 5em;
}

.predloj {
    font: 1em Arial;
    line-height: 1.5em;
    list-style-type: none;
}

.sobir {
    display: inline-block;
    height: 100%;
    width: 100%;
    min-height: 3em;
    box-sizing: border-box;
    padding: 0 1em;
}

.sobir.active {
    background: rgba(0,0,0,.1);
}

.rastask {
    opacity: .5;
}

.rastask.rastask-ready {
    opacity: 1;
}

.test_drag_table {padding-bottom: 2em;}

.sobir .rastask {
    display: block;
    box-shadow: 0 0 0.2em 0.1em #888;
    -webkit-box-shadow: 0 0 0.2em 0.1em #888;
    -moz-box-shadow: 0 0 0.2em 0.1em #888;
    z-index: 2;
    padding: 4px;
    border-radius: 5px;
    margin: 0 auto;
    margin-top: 6px;
    margin-bottom: 6px;
    opacity: 1;
}

.rastask-fake {
    opacity: 1;
}

.rastask-trapped {
    opacity: .5;
}

.interaktiv {width: 100%}
.interakt_zadanie {display: block !important;}


.t_row {width: 100%}

.cell {
    vertical-align: middle;
    text-align: center;
    margin: 0 auto;
}

.vopr {
    text-align: left;
    margin-top: 1em;
    display: table-cell;
}

.rastask {
    padding: 0;
    cursor: pointer;
}

.no-rastask {
    padding: 0 5px;
    cursor: pointer;
}

.interakt_zadanie td, .interakt_zadanie th {
    border: 2px solid #888;
    padding: 1em;
    font: 1em Arial;
}

.rastask-error {
    border: 2px solid #d34227 !important;
    display: block;
    padding: 5px;
    border-radius: 5px;
    margin-top: 4px;
    margin-bottom: 4px;
}

.rastask-correct {
    border: 2px solid #60bc57 !important;
    display: block;
    padding: 5px;
    border-radius: 5px;
    margin-top: 4px;
    margin-bottom: 4px;
}

.grey {
    color: #888;
    }


.active_block {
    box-shadow: 0 0 0.4em 0.1em #3899E9;
    -webkit-box-shadow: 0 0 0.4em 0.1em #3899E9;
    -moz-box-shadow: 0 0 0.4em 0.1em #3899E9;
    z-index: 5;
    border-radius: 5px;
    padding: 0 5px;
    text-indent: 0;
}

/*Картинка, если надо*/

img {
    width: 300px;
    display: block;
    margin: 0 auto;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
	cursor: pointer;
}