.test-item__answer {
    display: block;

    width: 100%;
    box-sizing: border-box;
    padding: 9px 35px;

    cursor: pointer;
}

.test-item__answer:hover {
    background: #e7f3de;
}

.test-item__answer-input {
    display: inline-block;
    vertical-align: middle;

    width: 23px;
    height: 23px;
    border: 1px solid #a7a7a7;
    background: #fff;

    outline: none;
    cursor: pointer;
}

.test-item__answer-text {
    display: inline-block;
    vertical-align: middle;

    padding-left: 5px;

    font: 16px Arial;
    line-height: 1;
}

.task__final {
    display: none;

    font: 16px Arial;
    padding: 10px 35px;
}

.task__final span, .task__final div {
    display: block;
    padding: 3px 0;
}



.task__paginator {
    margin: 0 0 24px 19px;
}

.task__paginator-item {
    width: 28px;
    height: 28px;
    float: left;
    margin: 0 2px;

    border: 1px solid #dcdcdc;

    position: relative;
}
.task__paginator-item.active {
    border-color: #9cc562;
}

.task__paginator-item .item-text {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    padding-top: 4px;

    font: 18px Arial;
    text-align: center;
    z-index: 1;

    position: relative;
}

.item-ind-1, .item-ind-2 {
    position: absolute;
    width: 100%;
    left: 0;
    z-index: 0;
}

.item-ind-1 {
    top: 0;
}

.test-item__answer-img {max-width: 25%; margin: 0;}
.test-item__answer-content {
	display: block;
    font: 16px Arial;
	vertical-align: middle;
	}

.task-check {
    opacity: .5;
    transition: opacity ease .5s;
}

.task-check.active {
    opacity: 1;
}