body {margin-left: 0; margin-right: 0; margin-bottom: 4em;}

body, dl, dt, dd, h2, h3, h4, h5, h6, p, pre, code, blockquote {
	/*margin:0;*/
	max-width: 39.6em;
	margin: 0 auto;
	padding:0;
	border-width:0;
	border: none;
	outline: none;
	-epub-hyphens:auto;
	-webkit-hyphens:auto;
}


td, th {
	border-style:solid;
	border-width:1px;
}
table {
	border-collapse:collapse;
	margin: 0em 50px 0px 3.2em;
}

div.V_Ot { background-color: #ecf1e1;}

a:hover {
cursor: pointer;
color: blue;
}

hr {
background-color: black;
border: 0;
height: 1px;
width: 100%;
align: left;
margin-left: 50px;
margin-right: 50px;
margin-top: 0;
margin-bottom: 20px;
}

.title_img {
text-align: center;
font-weight: bold;
font-size: 1.4em;
margin-top: 1em;
margin-bottom: 0.4em;
text-indent: 0;
}

.line_in_green {
background-color: black;
border: 0;
height: 1px;
width: 100%;
align: left;
margin-left: 0px;
margin-right: 0px;
margin-top: 0;
margin-bottom: 0px;
}



.page {
	padding-left: 50px;
	padding-right: 50px;
}

table.Стандартная-таблица {
	border-color:#231f20;
	border-style:solid;
	border-width:1px;
	margin-bottom:-4px;
	margin-top:4px;
}
td.Стиль-ячеек-1 {
	padding-bottom:5px;
	padding-left:9px;
	padding-right:5px;
	padding-top:3px;
}
p {
	font-family:"PT Serif", serif;
	font-size:1.067em;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	orphans:2;
	page-break-after:auto;
	page-break-before:auto;
	text-align:justify;
	text-decoration:none;
	text-indent:2em;
	margin: 0 0 0 0;
	widows:2;
}
span {
	font-family:"PT Serif", serif;
	font-size:1.067em;
}
p._111 {
	color:#231f20;
	font-size:0.917em;
	line-height:1.182;
	margin: 37 0 0 0;
}
p.__2_3 {
	color:#231f20;
	line-height:1.156;
	margin: 2.7em 0 0 0;
	text-indent:0;
}
p.D_Zag {
	color:#231f20;
	font-family:"PT Sans", sans-serif;
	font-size:0.917em;
	line-height:1.227;
	margin:1em 0 0 0;
	padding:4px 2em 0 3.2em; 
	text-align:left;
	text-indent:0;
	text-transform:uppercase;
	background-color: #ece7d2;
}
p.Dok_Text {
	color:#231f20;
	font-family:"PT Sans", sans-serif;
	font-size:1em;
	line-height:1.167;
	padding:0 2em 0 3.2em; 
	text-indent:0;
	background-color: #ece7d2;
}
p.Dop_text {
	color:#231f20;
	font-size:1em;
	margin-top:1em;
	margin-left:3.2em;
	min-height: 2.5em;
	margin-bottom:15px;
	/*line-height:1.167;
	margin-right:6px;*/
	padding: 0.2em 50px 0.2em 0;
	/*orphans:1;*/
	text-indent:0;
	/*widows:1;*/
	border-top: solid black 1px;
	border-bottom: solid black 1px;
}
p.Koloncifra {
	color:#ffffff;
	font-size:0.917em;
	line-height:1.182;
	orphans:1;
	text-align:center;
	text-indent:0;
	widows:1;
}
p.Nazv_kart {
	color:#231f20;
	font-family:"PT Sans", sans-serif;
	font-size:1.083em;
	line-height:0.962;
	margin: 1em 0 0.5em 0;
	text-align: center;
	text-indent:0;
	font-weight: bold;
}

p.Основной-абзац {
	-epub-hyphens:none;
	background:#a62b44;
	padding: 0.5em;
	/*line-height:1.111;*/
	/*margin:1em 0 0 0;*/
	margin-left: 0.2em;
	margin-right: 0.5em;
	text-align:center;
	text-indent:0;
	display: inline-block;
	float: left;
	color: #fff;
	font-size: 2.0em;
	margin-top: -4px;
	margin-left: -50px;
}

img._idGenPageitem-7 {margin-top: 0; margin-bottom: 0;}

p.Par {
	background:#ead1cb;
	line-height:1.156;
	padding: .5em 0 .5em 50px;
	/*margin: 1em 0 0 0;*/
	font-weight:bold;
	text-align:left;
	text-indent:0;
	text-transform:uppercase;
	margin-top: -6px;
	margin-left: -50px;
	margin-right: -50px;
}
p.Par_R {
	background:#ead1cb;
	padding: .5em 0 .5em 50px;
	/*margin: 1em 0 0 0;*/
	font-weight:bold;
	line-height:1.156;
	text-align:left;
	text-indent:0;
	text-transform:uppercase;
	margin-top: -6px;
	margin-left: -50px;
	margin-right: -50px;
}
p.PicNumber {
	-epub-hyphens:none;
	color:#231f20;
	font-size:0.917em;
	line-height:1.182;
	text-align:center;
	text-indent:0;
}
p.Posle_- {
	color:#231f20;
	font-size:1em;
	line-height:1.167;
	margin: 1em 0 1em 0;
	text-indent:0px;
	margin-left: 3em;
}
p.SodParag {
	color:#231f20;
	line-height:1.156;
	orphans:1;
	text-align:left;
	text-indent:0;
	widows:1;
}
p.Tabl {
	color:#231f20;
	font-family:"PT Sans", sans-serif;
	font-size:0.917em;
	line-height:1.182;
	orphans:1;
	text-align:center;
	text-indent:0;
	widows:1;
}
p.V_Ot {
	color:#231f20;
	font-size:1em;
	line-height:1.167;
	margin:0 0 0 0;
	padding: 1em 2em 5px 3.2em;
	text-indent:0;
	background-color: #ecf1e1;
}
p.Vopr_s_polos {
	color:#231f20;
	font-size:1em;
	/*line-height:1.167;
	margin-bottom:0;
	margin-left:17px;
	margin-right:6px;*/
	padding: 2em 2em 0px 3.2em;
	/*orphans:1;*/
	text-indent:0;
	/*widows:1;*/
	background-color: #ecf1e1;

}
p.Vopr_v_n {
	color:#231f20;
	font-size:1em;
	margin-top:1em;
	margin-left:3.2em;
	min-height: 2.5em;
	margin-bottom:15px;
	/*line-height:1.167;
	margin-right:6px;*/
	padding: 0.2em 50px 0.2em 0;
	/*orphans:1;*/
	text-indent:0;
	/*widows:1;*/
	border-top: solid black 1px;
	border-bottom: solid black 1px;
}

p.podpisi_1 {
	-epub-hyphens:none;
	color:#231f20;
	font-size:0.917em;
	line-height:1.182;
	padding:10px 10px 10px 10px;
	margin-bottom:0;
	margin-left:0;
	margin-right:0;
	margin-top:0;
	orphans:1;
	text-align:center;
	text-indent:0;
	widows:1;
}
p.podpisi_n {
	-epub-hyphens:none;
	color:#231f20;
	font-size:0.917em;
	line-height:1.182;
	padding:10px 10px 10px 10px;
	text-align:center;
	text-indent:0;
}
p.podpisi_sboky {
	-epub-hyphens:none;
	color:#231f20;
	font-size:0.917em;
	line-height:1.182;
	padding:10px 10px 10px 10px;
	text-align:center;
	text-indent:0;
}
p.podpisi_v {
	-epub-hyphens:none;
	color:#231f20;
	font-size:0.917em;
	line-height:1.182;
	padding:10px 10px 10px 10px;
	text-align:center;
	text-indent:0;
}
p.podpisi_vopr_niz {
	color:#231f20;
	font-family:"PT Sans", sans-serif;
	font-size:1em;
	line-height:1.19;
	padding:10px 10px 10px 0px;
	margin-bottom:0;
	margin-left:0;
	margin-right:0;
	margin-top:3px;
	text-indent:0;
}
p.podpisi_vopros_bez {
	color:#231f20;
	font-family:"PT Sans", sans-serif;
	font-size:0.917em;
	line-height:1.136;
	padding:10px 10px 10px 0px;
	margin-bottom:0;
	margin-left:0;
	margin-right:0;
	margin-top:3px;
	text-indent:0;
}
p.razdel {
	-epub-hyphens:none;
	color:#a62b44;
	font-family:"PT Sans", sans-serif;
	/*line-height:1.111;*/
	margin:0.1em 0 0.5em 0;
	text-align:left;
	text-indent:0;
	text-transform:uppercase;
	font-weight: bold;
	font-size: 2.5em;
}
p.svitok_vopr_verh {
	color:#231f20;
	font-family:"PT Sans", sans-serif;
	font-size:1em;
	line-height:1.167;
	padding: 1em 2em 50px 3.2em;
	text-indent:0;
	background-color: #ece7d2;
}
span.CharterBold_12 {
	color:#231f20;
	font-size:1em;
	font-weight:bold;
}
span.CharterBold_12_8 {
	color:#231f20;
	font-weight:bold;
}
span.CharterBold_15 {
	font-size:1.25em;
	font-weight:bold;
}
span.CharterItalic_12 {
	color:#231f20;
	font-size:1em;
	font-style:italic;
}
span.CharterItalic_12_8 {
	color:#231f20;
	font-style:italic;
}
span.Podpisi {
	color:#231f20;
	font-size:0.875em;
}
span.Sod_Razd {
}
span.Text {
	color:#231f20;
	font-size:0.883em;
}
span.TextbookBold_11_Prop {
	font-size:0.917em;
	font-weight:bold;
}
span.TextbookBold_12 {
	font-family:"PT Sans", sans-serif;
	font-size:1em;
	font-weight:bold;
}
span.Udarenie {
	font-style:italic;
}
span.Znak_vniz {
	font-family:"PT Sans", sans-serif;
	font-size:1.167em;
}
span._idGenCharOverride-1 {
	font-size:1.164em;
}
span._idGenCharOverride-2 {
	font-size:1em;
}
span._idGenCharOverride-3 {
	font-size:0.955em;
}
div.link_wiki {
	background-color:#ffcc99;
	border-color:#cc9999;
	border-width:thin;
	margin:1em 0 1em 0;
	padding:1em 1em 1em 1em;
}
p.link_wiki {
	font-family:"PT Serif", serif;
	font-size:1.067em;
	font-style:normal;
	font-variant:normal;
	font-weight:bold;
	orphans:2;
	page-break-after:auto;
	page-break-before:auto;
	text-align:left;
	text-decoration:none;
	text-indent:0;
	widows:2;
	height: 2em;
}
div._idGenPageitem-1 {
	width:23px;
}
div._idGenPageitem-3 {
	text-align:center;
	padding-left: 0;
	padding-right: 0;
}

div.top_head {
	margin-left: -50px;
	margin-right: -50px;
}

div._idGenPageitem-6 {
	background-color:#a62b43;
	display:none;
	padding:6px 0px 0px 0px;
	width:25px;
}
div._idGenPageitem-8 {
	background-color:#a62b43;
	width:84px;
}
div._idGenPageitem-9 {
	background-color:#e9d0cc;
	padding:6px 0px 6px 0px;
	width:476px;
}
div._idGenPageitem-17 {
	width:250px;
	display: block;
	margin: 0 auto;
}
div._idGenPageitem-81 {
	background-color:#e9d0cc;
	padding:6px 0px 6px 0px;
	width:478px;
}
div._idGenPageitem-84 {
	background-color:#e9d0cc;
	width:476px;
}
div.znach_yakor_sdvig {
	width: 2.2em;
	float: left;
	vertical-align: text-top;
	margin:0 1em 0 -1em;
}

div.Znachok_yakor {
	width: 2.2em;
	float: left;
	vertical-align: text-top;
	margin:0 1em 0 -1em;
}
img {
	margin-top: 1em;
	margin-bottom: 1em;
	width:100%;
}
img._idGenPageitem-2 {
	width:100%;
}
img._idGenPageitem-4 {
	width:27%;
}
img._idGenPageitem-5 {
	width:100%;
}
img._idGenPageitem-7 {
	width:100%;
	max-width: 1000px;
}
img._idGenPageitem-10 {
	width:100%;
	padding-left:20px;
	padding-right:50px;
	padding-top: 4px;
}

img._idGenPageitem-11 {
	width:60%;
}
img._idGenPageitem-12 {
	width:24%;
}
img._idGenPageitem-13 {
	width:34%;
}
img._idGenPageitem-14 {
	width:26%;
}
img._idGenPageitem-15 {
	width:31%;
}
img._idGenPageitem-16 {
	width:30%;
	max-width: 400px;
}
img._idGenPageitem-18 {
	width:42%;
}
img._idGenPageitem-19 {
	width:35%;
}
img._idGenPageitem-20 {
	width:99%;
	max-width: 1000px;
}
img._idGenPageitem-21 {
	width:32%;
	max-width: 400px;
}
img._idGenPageitem-22 {
	width:44%;
	max-width: 600px;
}
img._idGenPageitem-23 {
	width:50%;
	max-width: 600px;
}
img._idGenPageitem-24 {
	width:37%;
}
img._idGenPageitem-25 {
	width:15%;
}
img._idGenPageitem-26 {
	width:78%;
}
img._idGenPageitem-27 {
	width:25%;
}
img._idGenPageitem-28 {
	width:36%;
}
img._idGenPageitem-29 {
	width:29%;
}
img._idGenPageitem-30 {
	width:21%;
}
img._idGenPageitem-31 {
	width:23%;
}
img._idGenPageitem-32 {
	width:49%;
}
img._idGenPageitem-33 {
	width:41%;
}
img._idGenPageitem-34 {
	width:16%;
	max-width:100px;
}
div._idGenPageitem-35 {
	background-color:#a62b43;
	width:70px;
}
img._idGenPageitem-36 {
	width:57%;
}
img._idGenPageitem-37 {
	width:22%;
}
img._idGenPageitem-38 {
	width:12%;
}
img._idGenPageitem-39 {
	width:76%;
}
img._idGenPageitem-40 {
	width:90%;
}
img._idGenPageitem-41 {
	width:70%;
}
img._idGenPageitem-42 {
	width:84%;
}
img._idGenPageitem-43 {
	width:46%;
}
img._idGenPageitem-44 {
	width:82%;
}
img._idGenPageitem-45 {
	width:52%;
}
img._idGenPageitem-46 {
	width:72%;
}
img._idGenPageitem-47 {
	width:19%;
}
img._idGenPageitem-48 {
	width:71%;
}
img._idGenPageitem-49 {
	width:38%;
}
img._idGenPageitem-50 {
	width:75%;
}
img._idGenPageitem-51 {
	width:66%;
}
img._idGenPageitem-52 {
	width:67%;
}
img._idGenPageitem-53 {
	width:28%;
}
img._idGenPageitem-54 {
	width:64%;
}
img._idGenPageitem-55 {
	width:81%;
}
img._idGenPageitem-56 {
	width:54%;
}
img._idGenPageitem-57 {
	width:87%;
}
img._idGenPageitem-58 {
	width:7%;
}
img._idGenPageitem-59 {
	width:48%;
}
img._idGenPageitem-60 {
	width:17%;
}
img._idGenPageitem-61 {
	width:47%;
}
img._idGenPageitem-62 {
	width:51%;
}
img._idGenPageitem-63 {
	width:77%;
}
img._idGenPageitem-64 {
	width:61%;
}
img._idGenPageitem-65 {
	width:33%;
}
img._idGenPageitem-66 {
	width:40%;
}
img._idGenPageitem-67 {
	width:74%;
}
img._idGenPageitem-68 {
	width:18%;
}
img._idGenPageitem-69 {
	width:20%;
}
img._idGenPageitem-70 {
	width:69%;
}
img._idGenPageitem-71 {
	width:59%;
}
img._idGenPageitem-72 {
	width:45%;
}
img._idGenPageitem-73 {
	width:14%;
}
img._idGenPageitem-74 {
	width:39%;
}
img._idGenPageitem-75 {
	width:85%;
}
img._idGenPageitem-76 {
	width:86%;
}
img._idGenPageitem-77 {
	width:79%;
}
img._idGenPageitem-78 {
	width:65%;
}
img._idGenPageitem-79 {
	width:91%;
}
img._idGenPageitem-80 {
	width:63%;
}
img._idGenPageitem-82 {
	width:43%;
}
img._idGenPageitem-83 {
	width:56%;
}

.js-task {color: blue; font-weight: bold;}