

.task__area {
    font: 45px Arial;
    padding: 50px;
    box-sizing: border-box;

    -webkit-user-select: text;
    -moz-user-select: text;
    -ms-user-select: text;
    user-select: text;
}

.task__area.TP__blocked:after {
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 999;
    content: '';
    cursor: not-allowed;
}
.TP__section-content {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.TP__input {
    display: inline-block;
    min-width: 25px;
    text-align: center;

    font: 45px Arial;
}

.TP__mistake {
    background-color: rgba(255,0,0,.3);
}