.T__hover {
    background: rgba(0,0,0,.2);
}

.task__area {
    padding: 0;
}

.T__drops-wrap {
    overflow: auto;
}

.T__drops {
    float: left;
    padding: 5px;
    box-sizing: border-box;

    border: 2px solid #82C351;
    overflow: auto;

    min-height: 100%;
}

.T__drops-title {
    background: #82C351;
    border-radius: 5px 5px 0 0;
    padding: 5px;

    font: 700 18px Arial;
    text-align: center;
    color: #fff;

    border: 1px solid #fff;
}

.T__drops-item {
    padding: 5px;
    border: 1px solid #82C351;
    border-radius: 5px;
    min-height: 100px;
    margin-bottom: 3px;
}

.T__drops-item.T__error {
    border-color: red;
}

.T__drops_cells .T__drops-item,
.T__drops_cells .T__drops-title {
    min-height: 0;
    margin-bottom: 3px;

    border-radius: 5px;
}


.T__drags-item.T__error {
    border: 1px solid red;
}

.T__drags {
    float: right;
    padding: 5px;
    box-sizing: border-box;

    border: 2px solid #82C351;
    overflow: auto;
}

.T__drags-item {
    padding: 5px;
    margin: 2px;
    background: #82C351;
    border-radius: 5px;

    color: #fff;
    font: 16px Arial;
    text-align: center;

    cursor: pointer;
}

.T__drops_cells .T__drops-item .T__drags-item {
    margin: 0;
    height: 17px;
}

.T__drags-item.T__disabled {
    display: none;
}
.T__horizontal .T__drags {
    width: 100%;
    float: none;
    margin: 0 0 5px;
}

.T__horizontal .T__drags .T__drags-item {
    display: inline-block;
}

.T__disabled {
    background: #ebebeb;
}